<a (click)="dialogRef.close()" style="text-align: right;float: left;"><i class="fas fa-times" style="margin: 1rem;"></i></a>
<h3 mat-dialog-title class="text-center border-bottom border-2 pb-3">Update Project</h3>


<div class="justify-content-center align-items-center">
    <div class="container">
        <mat-dialog-content class="mat-typography">

            <form novalidate [formGroup]='UpdateProjectForm' (ngSubmit)='UpdateProject()'>
                <div class="row p-5">
                    <mat-form-field class="example-full-width col-12 my-2" appearance="outline">
                        <mat-label> Title</mat-label>
                        <input type="text" matInput formControlName="Title" placeholder=" Write here ... ">
                        <mat-error *ngIf="FormControls.Title.hasError( 'required') ">
                            <strong>reqired *</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width col-12 my-2" appearance="outline">
                        <mat-label> Github Link</mat-label>
                        <input type="text" matInput formControlName="GithubLink" placeholder=" Write here ... ">
                        <mat-error *ngIf="FormControls.GithubLink.hasError( 'required') ">
                            <strong>reqired *</strong>
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="example-full-width col-12 my-2" appearance="outline">
                        <mat-label> Url</mat-label>
                        <input type="text" matInput formControlName="Url" placeholder="(optional) Write here ... ">

                    </mat-form-field>


                    <mat-form-field class="example-full-width col-12 my-2" appearance="outline">
                        <mat-label>Choose a Deadline</mat-label>
                        <input matInput [matDatepicker]="picker" formControlName="DeadlineDate">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                        <mat-error *ngIf="FormControls.DeadlineDate.hasError( 'required') ">
                            <strong>reqired *</strong>
                        </mat-error>
                    </mat-form-field>

                    <div class="example-full-width col-12 my-2">
                        <label id="example-radio-group-label">Priority : </label>
                        <mat-radio-group color="primary" formControlName="Priority" aria-labelledby="example-radio-group-label" aria-label="Select an option" appearance="outline">
                            <mat-radio-button class="mx-2" value="High">High</mat-radio-button>
                            <mat-radio-button class="mx-2" value="Meduim">Meduim</mat-radio-button>
                            <mat-radio-button class="mx-2" value="Low">Low</mat-radio-button>
                        </mat-radio-group>
                    </div>



                    <mat-form-field class="example-full-width col-12 my-2" appearance="outline">
                        <mat-label> Describtion</mat-label>
                        <textarea type="text" matInput formControlName="Describtion" placeholder=" Write here ... " rows="3"></textarea>
                        <mat-error *ngIf="FormControls.Describtion.hasError( 'required') ">
                            <strong>reqired *</strong>
                        </mat-error>
                    </mat-form-field>


                </div>
            </form>
        </mat-dialog-content>
    </div>
</div>

<mat-dialog-actions align="end" class="border-top border-2">
    <button mat-button mat-dialog-close>Cancel</button>
    <button class="btn btn-primary mx-3" [mat-dialog-close]="true" cdkFocusInitial [disabled]="!UpdateProjectForm.valid || !UpdateProjectForm.dirty" (click)="UpdateProject()">Save Changes</button>
</mat-dialog-actions>
